<p id="notice"><%= notice %></p>

<p>
  <b>Name:</b>
  <%= @customer.name %>
</p>

<p>
  <b>E-Mail:</b>
  <%= @customer.email %>
</p>

<p>
  <b>Phone Number:</b>
  <%= @customer.phone %>
</p>

<%= link_to 'Back', customers_path %>
